<% content_for :head do %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="application/javascript">
    $(document).ready(function() {
        // Setting up a loading indicator using Ajax Events
        $( document ).ajaxStart(function() {
            $("#statusicon").replaceWith("<span id='statusicon' class='input-group-addon'><i class='fa fa-refresh fa-fw fa-spin'></i></span>");
            //$("icon").addClass("fa-refresh fa-spin");
        });

        // Checking zipcode length and calling the ajax
        $("#zipcheck").keyup(function() {
            if ($("#zipcheck").val().length == 5) {
                if (/(^\d{5}$)|(^\d{5}-\d{4}$)/.test($("#zipcheck").val())) {
                    $("#validzip").addClass("has-success");
                    $.ajax({
                        url: "/ziplookup/" + $("#zipcheck").val(),
                        type: "GET",
                        dataType: "json",
                        success: function (coverage) {
                            result = jQuery.parseJSON(coverage);  //broken here
                            alert(result.service);
                            //$("#results").append(coverage);
                        },
                        error: function () {
                            alert("There was an error!");
                        }

                    });
                } else {
                    $("#validzip").addClass("has-error");
                }
            } else {
                $("#results").empty();
                $("#validzip").removeClass("has-error");
                $("#validzip").removeClass("has-success");
            }
        });
    });
</script>
<% end %>
Welcome to the scheduler.
First let's see if you are in our coverage zone:
<form name="zip">
  <div class="form-group" id="validzip">
    <div class="input-group">
        <span id="statusicon" class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
        <input type="text" class="form-control" name="zipcheck" id="zipcheck" maxlength="5" placeholder="Zip Code" />
      </div>
  </div>
</form>
<div id="results"></div>
<div id="loading_indicator" style="display: none;">Loading...</div>